# ==========================================================
# DEPENDENCIAS
# ==========================================================

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================================
# ANGULAR
# ==========================================================

dist
.angular
coverage

# ==========================================================
# GIT
# ==========================================================

.git
.gitignore

# ==========================================================
# EDITORES
# ==========================================================

.vscode
.idea

# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.log
*.tmp
*.temp
*.swp
*.swo

# ==========================================================
# DOCUMENTACIÓN LOCAL
# ==========================================================

README.md
