{
    admin off
    persist_config off
    auto_https off

    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT:3000} {
    root * /app/dist/CheofPizza_Front/browser

    encode gzip zstd

    try_files {path} /index.html
    file_server
}
